body {
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex:1;
}

.main-footer {
  padding:0 1rem;
  color:#888;
  text-align:right;
  height:3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer p {
  margin-bottom:0;
}

.site-header {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  padding:.75rem 1rem 0;
  min-height:3rem;
}

@media only screen and (max-width: 719px) {
  .site-header {
    display:block;
  }

  .site-header h1 {
    padding-top:4px
  }
}

.site-header__title {
  font-size:26px;
  margin:0;
}

.site-header__subtitle {
  font-size:.75rem;
  margin:0;
}

.site-header__subtitle a {
  color:#fff;
  text-decoration: underline;
}

.introduction {
  margin-top:1.2rem;
}

#root {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.App {
  position:relative;
}

.instructions-toggle {
  text-align:right;
}

.input-help {
  font-size:.6rem;
  margin-bottom:.3rem;
}

.app-content {
  display:flex;
  flex-direction:column;
  justify-content: center;
}