body {
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex:1;
}

.main-footer {
  padding:0 1rem;
  color:#888;
  text-align:right;
  height:3rem;
}

.main-footer p {
  margin-bottom:0;
}

.site-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 1rem;
  height:3rem;
}

.site-header h1 {
  font-size:26px;
  margin:0;
}

.site-header h2 {
  font-size:.75rem;
  margin:0;
}

#root {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.App {
  position:relative;
}

.instructions-toggle {
  position:absolute;
  right: 30px;
  top:24px;
}

.app-content {
  min-height: calc(100vh - 6rem);
  display:flex;
  flex-direction:column;
  justify-content: center;
}

/*.btn.btn-primary {*/
/*  background:#fff;*/
/*  border-color:#fff;*/
/*  color:#a00;*/
/*}*/
